{% extends "date_base.html" %}

{% block nav_below_date %}
  {{ super() }}
  <div class="line">
    <span>製番:{{ row[1] }}-手配番号:{{ row[2] }}-品目番号:{{ row[3] }}-品目名:{{ row[4] }}</span>
    <span class="divider">|</span><a href="/date/{{ date }}/hinmoku/{{ hinmokuno }}">グラフ表示</a>
    <span class="divider">|</span><a href="/date/{{ date }}/hinmoku/{{ hinmokuno }}/summary">稼働時間集計表示</a>
    <span class="divider">|</span><a href="/date/{{ date }}/hinmoku/{{ hinmokuno }}/info">本日分の手配情報</a>
  </div>
{% endblock %}

{% block content %}
  {% block hinmoku_body %}{% endblock %}
{% endblock %}
