{% extends "base.html" %}

{% block nav %}
  {# すでに base.html の .topnav があるので、その中に line を積む #}
  <div class="line">
    <a href="/">HOME</a>
  </div>
  <div class="line">
    <span>{{ year_month }}</span>
    <span class="divider">|</span><a href="/month/{{ year_month }}/overview">俯瞰表示</a>
    <span class="divider">|</span><a href="/month/{{ year_month }}/graph">グラフ表示</a>
    <span class="divider">|</span><a href="/month/{{ year_month }}/summary">稼動時間集計表示</a>
  </div>
  {# ここに下位がさらに行を足していく #}
  {% block nav_below_month %}{% endblock %}
{% endblock %}

{% block content %}
  {% block month_body %}{% endblock %}
{% endblock %}
